<div class="row">
    <div class="col-md-12 text-center">
      <h2>Add-Product</h2>
    </div>
    <div class="">
      <div class="row">
        <form [formGroup]="addForm" novalidate class="form mr-2">
          <div class="row mt-2">
            <div class="col-md-4">
              Select Category
              <select  class="form-control" (click)="OnSelect($event)" formControlName="Cname">
                <option disabled>Choose Category</option>
                <option *ngFor="let i of ddCategory"   value={{i.Cname}}>{{i.Cname}}</option>                
              </select>
            </div>
          </div>  
          <div class="row mt-2">
            <div class="col-md-4">
              Product Name
              <input type="text" formControlName="Pname" class="form-control" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              Color
              <input type="text" formControlName="color" class="form-control" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              Price
              <input type="number" formControlName="price" class="form-control" />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-8">
              <button type="submit" class="btn btn-success" (click)="onSubmit()">
                Submit Form
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  