<!-- <div class="container mt-5">
  <table class="table table-sm">
    <thead class="table-dark">
      <tr>
        <th>Product Name</th>
        <th>Color</th>
        <th>Price</th>  
        <th>EDIT | DELETE </th>
      </tr>

      <tr></tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of products " >
        <td>{{ i.Pname }}</td>
        <td>{{ i.color }}</td>
        <td>{{ i.price }}</td>
        <td><a class="btn btn-danger" (click)="ondelete(i._id)">Delete</a> &nbsp;
        <a class="btn btn-primary" [routerLink]="['/Product-edit',i._id]">Edit</a></td>        
      </tr>
    </tbody>
  </table>
</div>
 -->
 <div class="container">
    <div class="row ">
    
      <div
        class="card shadow m-lg-auto mb-2"
        style="width: 18rem;"
        *ngFor="let i of products"
      >
         <div class="col-lg-9"> 
          <div class="card-header">
            <h2> {{i.Cname}}</h2>
          </div>
          <div class="card-body">
            <h5 class="card-title text-lg">{{ i.Pname }}</h5>
          
            <p class="card-text">Color := {{ i.color }}</p>
            <h3 class="mb-4">Cost := {{ i.price }}</h3>
            <a class="btn btn-danger" (click)="ondelete(i._id)">Delete</a>
            &nbsp;
            <a class="btn btn-primary" [routerLink]="['/Product-edit', i._id]">
              Edit
            </a>
          </div>
        </div>
      </div>
      &nbsp;&nbsp;
    </div>
  </div>